@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
}

button:hover {
  cursor: pointer;
}

/* HEADER */
header {
  padding-bottom: 100px;
}

.color-red {
  color: #f55253 !important;
}

.header-container {
  max-width: 1235px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
  padding-top: 10px;
}

/* NAV */
.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding-top: 18px;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu-list > li > a {
  font-weight: 500;
  text-decoration: none;
  color: #4d4d4d;
  font-size: 16px;
}

.menu-list > li > a:hover {
  color: #f55253 !important;
}

.search-bar {
  display: flex;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 8px 14px;
  align-items: center;
}

.la-search {
  transform: rotateY(180deg);
}

.search-bar-flex {
  display: flex;
  align-items: center;
  gap: 6px;
}

.search-bar-flex > input {
  border: none;
  outline: none;
  font-weight: 500;
  color: #232323;
  font-family: "Poppins";
}

.search-bar-flex > i {
  color: #8b8b8b;
  font-size: 16px;
}

.search-bar-flex > input::placeholder {
  font-weight: 500;
  color: #232323;
  font-size: 14px;
  font-family: "Poppins";
}

.bag-container {
  display: flex;
}

.la-shopping-bag {
  color: #3c3737;
  font-size: 24px;
  padding-left: 10px;
  border-left: 2px solid #f2f2f2;
}

.notification {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #f55253;
  color: #fffdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 2px 30px 10px #f5525230;
  margin-top: -15px;
  margin-left: 5px;
}

.la-bars {
  display: none !important;
}

/* HEADER CONTENT */

.header-content {
  padding-top: 110px;
  display: flex;
  justify-content: space-between;
}

.presentation {
  max-width: 580px;
}

.more-than-faster {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fdecec;
  border-radius: 30px;
  max-width: fit-content;
  padding: 9px 17px;
  font-size: 16px;
  font-weight: 500;
}

.presentation > h1 {
  font-size: 74px;
  color: #2e2e2e;
  line-height: 1.2;
  font-weight: 700;
}

.presentation > h1 > span {
  color: #f55253;
  font-weight: 500;
}

.presentation > p {
  font-weight: 400;
  color: #676767;
  font-size: 18px;
}

.presentation-buttons {
  display: flex;
  margin-top: 60px;
  font-size: 20px;
  align-items: center;
  gap: 34px;
}

.presentation-buttons > button {
  border: none;
  color: #fffafa;
  background-color: #f86061;
  border-radius: 12px;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins";
}

.order-process {
  color: #363636;
}

.la-play {
  color: #fdc55e;
  margin-right: 22px;
}

/* HEADER IMG */

.header-card-1 {
  position: relative;
  padding: 0 40px;
  max-width: fit-content;
  text-align: center;
  box-shadow: 0px 50px 80px 0px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding-bottom: 45px;
  z-index: 15;
  background-color: #fff;
}

.info {
  padding-top: 15px;
}

.info > span {
  font-size: 12px;
  color: #2e2e2e;
  font-weight: 600;
}

.rectangle {
  max-width: 20px;
  margin: 0 auto;
  height: 3px;
  background-color: #ffa610;
  border-radius: 30px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.info-price {
  font-size: 22px;
  color: #2e2e2e;
  font-weight: 700;
}

.info p:last-child {
  font-size: 10px;
  color: #a5a5a5;
  font-weight: 500;
}

.cart {
  position: absolute;
  top: 90%;
  left: 35%;
  background-color: #f86061;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  padding: 10px;
  background: linear-gradient(180deg, #ff9a70, #e73d3e);
  box-shadow: 0px -6px 40px 0px rgba(235, 69, 70, 0.2);
}

.cart > i {
  font-size: 28px;
  color: #ffff;
}

.header-img {
  position: relative;
  z-index: 10;
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.header-img > img {
  position: absolute;
  inset: 0;
  top: -40%;
  left: 22%;
  z-index: -10;
}

.header-card-2 {
  display: flex;
  height: max-content;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 40px 70px -10px rgba(0, 0, 0, 0.09);
}

.header-card-2 > i {
  font-size: 35px;
  color: #03a66b;
}

.card-2-info > p {
  font-size: 16px;
  font-weight: 600;
  color: #404040;
}

.card-2-info > span {
  font-size: 12px;
  font-weight: 500;
  color: #a5a4a4;
}

/* SECTIONS */

.our-services-section {
  position: relative;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 130px;
}

.our-services-section::after {
  content: "";
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fef5f5;
  z-index: -100;
}

.our-services-section > span {
  color: #f54748;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.our-services-section > h1 {
  color: #2e2e2e;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  text-transform: capitalize;
  max-width: 627px;
  margin: auto;
}

.cards {
  padding-top: 80px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card {
  position: relative;
  width: 300px;
  min-height: 310px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
  background-color: #fff;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: #fe6a6a;
  z-index: -10;
  transition: all 0.4s;
  left: 19px;
  height: 105%;
  width: 102%;
  opacity: 0;
}

.card:hover::after {
  transform: rotateZ(-4deg);
  opacity: 1;
}

.card-img-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card > img {
  padding-bottom: 61px;
}

.card > h2 {
  color: #2e2e2e;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
  padding-bottom: 14px;
}

.card > p {
  color: #676767;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  width: 243px;
  margin: auto;
}

/* FEATURES SECTION 1*/
.features-section-1 {
  padding-top: 109px;
  padding-bottom: 100px;
}

.features-1-container {
  display: flex;
  max-width: 1235px;
  padding: 0 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 110px;
}

.feature-1-img-card {
  display: flex;
  align-items: center;
}

.feature-1-card {
  width: 204px;
  height: 277px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 60px 100px -10px rgba(86, 0, 0, 0.08);
  padding: 30px 20px;
  position: relative;
  margin-top: 0px;
  margin-left: -100px;
}

.feature-1-card > h2 {
  color: #2e2e2e;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.36px;
  padding-bottom: 8px;
}

.feature-1-card > span {
  display: block;
  color: #a5a4a4;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  /* 100% */
}

.feature-1-card > img {
  display: block;
  margin: 30px auto 0 auto;
}

.feature-1-card-info {
  margin-top: -20px;
}

.feature-1-card-info > i {
  font-size: 16px;
  color: #fdc55e;
}

.feature-1-card-info > span {
  color: #2e2e2e;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 125% */
}

.feature-1-card-info > p {
  color: #2e2e2e;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 90.909% */
  letter-spacing: -0.22px;
}

.feature-1-card > .icon {
  position: absolute;
  width: 36px;
  height: 36px;
  inset: 0;
  background-color: #f54748;
  border-radius: 8px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  top: 75%;
  left: 70%;
}

.feature-1-content > span {
  color: #03a66b;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.feature-1-content > h2 {
  color: #2e2e2e;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  text-transform: capitalize;
  padding: 8px 0 22px 0;
}

.feature-1-content > p {
  color: #676767;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.feature-1-content > button {
  border: none;
  color: #fffafa;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 12px;
  background: #f86061;
  padding: 25px 40px;
  margin-top: 50px;
}

/* FEATURES SECTION 2 */
.features-2-container {
  display: flex;
  max-width: 1235px;
  width: 100%;
  padding: 0 30px;
  justify-content: center;
  align-items: flex-end;
  gap: 100px;
  margin: auto;
}

.feature-2-img {
  position: relative;
  width: 100%;
}

.feature-2-content > span {
  color: #f9ba45;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.feature-2-content > h2 {
  color: #2e2e2e;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  text-transform: capitalize;
  padding-top: 8px;
  padding-bottom: 22px;
}

.feature-2-content > p {
  color: #676767;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.feature-2-content > button {
  border: none;
  background-color: #fff;
  color: #f86061;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 12px;
  border: 1.5px solid #f86061;
  padding: 25px 40px;
  margin-top: 50px;
}

.feature-2-card {
  height: max-content;
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 40px 100px -25px rgba(0, 0, 0, 0.12);
  max-width: 166px;
  position: absolute;
  inset: 0;
  top: 35%;
  left: 65%;
}

.feature-2-card-img {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  background: #f5474761;
  padding: 14px 33px;
  opacity: 0.6;
}

.feature-2-card > h2 {
  color: #2e2e2e;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.16px;
  padding-top: 26px;
  padding-bottom: 8px;
}

.feature-2-card > p {
  color: #676767;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

/* CTA SECTION */
.cta-section {
  margin-top: 100px;
  background: #fef5f5;
}

.cta-container {
  max-width: 1235px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 184px;
}

.cta-content {
  max-width: 466px;
}

.cta-content > span {
  color: #f54748;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.cta-content > h2 {
  color: #2e2e2e;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  padding-top: 8px;
  padding-bottom: 22px;
  text-transform: capitalize;
}

.cta-content > p {
  color: #676767;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
}

.cta-buttons {
  margin-top: 60px;
  display: flex;
  gap: 30px;
}

.cta-buttons > button {
  background: none;
  border-radius: 12px;
  border: 1.5px solid #eedcdc;
  color: #2e2e2e;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 19px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.cta-buttons > button > i {
  font-size: 43px;
}

/* FOOTER */
footer {
  margin-top: 55px;
}

footer a:hover {
  text-decoration: underline !important;
}

.footer-1-container {
  max-width: 1235px;
  margin: auto;
  display: flex;
  gap: 168px;
  justify-content: center;
  padding-top: 76px;
  padding-bottom: 30px;
}

.footer-1-content > p {
  color: #676767;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 25px;
  width: 266px;
}

.links {
  display: flex;
  gap: 82px;
}

.col > h2 {
  color: #2e2e2e;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.18px;
  padding-bottom: 30px;
}

.col > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.col > ul > li > a {
  text-decoration: none;
  color: #676767;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.col > p {
  max-width: 191px;
  color: #888;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.footer-2-container {
  display: flex;
  max-width: 1235px;
  margin: auto;
  margin-top: 80px;
  padding: 30px;
  border-top: 1px solid #ececec;
  justify-content: space-between;
}

.footer-2-container > p {
  color: #8c8c8c;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer-2-container > div > a {
  color: #747474;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  margin-left: 25px;
}

/* MEDIA QUERIES */

@media (max-width: 1150px) {
  .cards {
    flex-wrap: wrap;
    overflow: hidden;
  }
}

@media (max-width: 1140px) {
  .header-content {
    padding-top: 60px;
    display: block;
  }

  .header-img {
    display: none;
  }

  .presentation {
    max-width: none;
  }

  footer {
    padding: 15px;
  }

  .footer-1-content {
    width: 100%;
  }

  .footer-1-content > p {
    width: fit-content;
  }

  .footer-1-container {
    padding-top: 0;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .links {
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }
}

@media (max-width: 1100px) {
  .features-1-container {
    display: block;
  }

  .features-2-container {
    padding: 15px;
  }

  .feature-1-img-card {
    display: none;
  }

  .feature-2-img {
    display: none;
  }

  .our-services-section {
    padding: 15px;
  }
}

@media (max-width: 1000px) {
  .cta-container {
    display: block;
    padding: 15px;
    padding-top: 60px;
  }

  .cta-img {
    display: none;
  }

  .cta-content {
    max-width: none;
  }
}

@media (max-width: 840px) {
  .menu-list,
  .search-bar-flex {
    display: none;
  }

  .la-shopping-bag {
    padding: 0;
    border: none;
  }

  .la-bars {
    display: block !important;
  }
}

@media (max-width: 700px) {
  .header-container {
    padding: 15px;
  }

  .presentation > h1 {
    font-size: 54px;
  }

  .links {
    flex-wrap: wrap;
  }

  .footer-2-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footer-2-container > div > a {
    margin-left: 5px;
  }
}

@media (max-width: 430px) {
  .presentation-buttons {
    flex-wrap: wrap;
  }

  .cta-buttons {
    flex-wrap: wrap;
  }
}
